---
Language: Cpp
BasedOnStyle: Chromium
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignEscapedNewlines: Right
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
UseTab: Never
